Perfect üëç Here‚Äôs your project intro/README in **English**, structured so you can use it both for your **GitHub README.md** and as an **introductory slide deck script**:

---

# üöÄ Exploratory Data Analysis: Space Missions

## üåå Introduction

Space missions represent one of humanity‚Äôs greatest technological and scientific achievements. Analyzing their data allows us to uncover patterns, trends, and factors that have shaped the history of space exploration.

This project performs an **Exploratory Data Analysis (EDA)** using **Python in Jupyter Notebook**, with the goal of answering key questions about space launches across decades.

---

## üéØ Analysis Goals

The EDA aims to generate insights on:

1. **Leading Organizations**

   * Which organization launched the most missions in a given year?

2. **Evolution of Space Activity**

   * How many launches were carried out each year?
   * Do we see growth, stagnation, or decline?

3. **Mission Costs**

   * How have mission costs changed over time?
   * Are there periods of higher investment?

4. **Seasonality of Launches**

   * Which months are the most popular for space launches?
   * Do temporal patterns emerge?

5. **Mission Success and Safety**

   * Have missions become safer over time?
   * Or has the failure rate remained unchanged?

---

## üõ†Ô∏è Tools & Libraries

The analysis will be conducted in **Python**, making use of:

* **Pandas** ‚Üí Data cleaning and manipulation
* **Matplotlib & Seaborn** ‚Üí Static visualizations
* **Plotly** ‚Üí Interactive visualizations
* **NumPy** ‚Üí Numerical operations
* **Jupyter Notebook** ‚Üí Workspace and presentation

---

## üìä Expected Visualizations

Some of the visual outputs include:

* **Bar charts** ‚Üí Launches by organization and by year
* **Time series plots** ‚Üí Evolution of costs and space activity
* **Histograms / heatmaps** ‚Üí Launch distribution by month
* **Pie or donut charts** ‚Üí Success vs. failure over time

---

## ‚úÖ Expected Outcomes

By the end of the analysis we expect to:

* Identify the most influential organizations in the space race.
* Understand the evolution of space launches over time.
* Reveal how mission costs have shifted through the decades.
* Detect seasonal patterns in launch activities.
* Analyze the trends in mission safety and reliability.

---

## üå† Conclusion

This project provides a **clear and visual overview** of the history of space missions, highlighting how space exploration is not only a technological challenge but also a mirror of humanity‚Äôs ambition.

# 1. Import Libraries

In [87]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# 2. Load the Data

In [88]:
df_space = pd.read_csv("./data/Space_Corrected.csv")

In [89]:
df_space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    4324 non-null   int64
 1   Unnamed: 0      4324 non-null   int64
 2   Company Name    4324 non-null   object
 3   Location        4324 non-null   object
 4   Datum           4324 non-null   object
 5   Detail          4324 non-null   object
 6   Status Rocket   4324 non-null   object
 7    Rocket         964 non-null    object
 8   Status Mission  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

In [90]:
df_space.head(10)

,Unnamed: 0.1,Unnamed: 0,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
5,5,5,CASC,"LC-9, Taiyuan Satellite Launch Center, China","Sat Jul 25, 2020 03:13 UTC","Long March 4B | Ziyuan-3 03, Apocalypse-10 & N...",StatusActive,64.68,Success
6,6,6,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Thu Jul 23, 2020 14:26 UTC",Soyuz 2.1a | Progress MS-15,StatusActive,48.5,Success
7,7,7,CASC,"LC-101, Wenchang Satellite Launch Center, China","Thu Jul 23, 2020 04:41 UTC",Long March 5 | Tianwen-1,StatusActive,NaN,Success
8,8,8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Mon Jul 20, 2020 21:30 UTC",Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success
9,9,9,JAXA,"LA-Y1, Tanegashima Space Center, Japan","Sun Jul 19, 2020 21:58 UTC",H-IIA 202 | Hope Mars Mission,StatusActive,90.0,Success

# 2. Description of the dataset

Here let's gonna take a general vision of the datas.

**Dataset:** All Space Mission from 1957.

**Description:** This Dataset contains informations regarding space missions since the beginning of them (1957)

**Dates:** 1957 - 2020

| Name | Description | Type of the variable | Importance | Notes |
|------|-------------|----------------------|------------|-------|
| Unnamed: 0-1 | Index | | | |
| Unnamed: 0 | Index-2 | | | |
| Company Name | Name of the company to make the mission | | | |
| Location | Location of the launch | | | |
| Datum | Date of the mission | | | |
| Detail | Name of the Rocket | | | |
| Status Rocket | Active or not? | | | |
| Rocket | Cost of the mision (in $ millions) | | | |
| Status Mission | Status of the mission (Succes of Failed) | | | |

In [91]:
#Tipification

df_tipification = pd.DataFrame([df_space.nunique(), df_space.nunique()/len(df_space) * 100, df_space.dtypes]).T.rename(columns={0: "Card", 
                                                                                                                                1: "%_Card",
                                                                                                                                2: "Type"})

df_tipification

                Card     %_Card    Type
Unnamed: 0.1    4324      100.0   int64
Unnamed: 0      4324      100.0   int64
Company Name      56   1.295097  object
Location         137   3.168363  object
Datum           4319  99.884366  object
Detail          4278   98.93617  object
Status Rocket      2   0.046253  object
 Rocket           56   1.295097  object
Status Mission     4   0.092507  object

In [92]:
#Types of the features

df_tipification["Classified_like"] = "Categorical"
df_tipification.loc[df_tipification.Card == 2, "Classified_like"] = "Binari"
df_tipification.loc[df_tipification["Card"] > 10, "Classified_like"] = "Discret Numerical"
df_tipification.loc[df_tipification["%_Card"] > 30, "Classified_like"] = "Continuos Numerical"
df_tipification

                Card     %_Card    Type      Classified_like
Unnamed: 0.1    4324      100.0   int64  Continuos Numerical
Unnamed: 0      4324      100.0   int64  Continuos Numerical
Company Name      56   1.295097  object    Discret Numerical
Location         137   3.168363  object    Discret Numerical
Datum           4319  99.884366  object  Continuos Numerical
Detail          4278   98.93617  object  Continuos Numerical
Status Rocket      2   0.046253  object               Binari
 Rocket           56   1.295097  object    Discret Numerical
Status Mission     4   0.092507  object          Categorical

Whit this critery, let gonna mark the importance of the variables. 

Importance: **target/principal (0), important agrupation (1), interesting agrupation (2), second agrupation (3).**

| Name | Description | Type of the variable | Importance | Notes |
|------|-------------|----------------------|------------|-------|
| Unnamed: 0-1 | Index | Continuos Numerical | - | |
| Unnamed: 0 | Index-2 | Continuos Numerical | - | |
| Company Name | Name of the company to make the mission | Dicret Categorical | 1 | |
| Location | Location of the launch | Discret Categorical | 2 | |
| Datum | Date of the mission | DateTime | 2 | |
| Detail | Name of the Rocket | Continuos Categorical | 3 | |
| Status Rocket | Active or not? | Binari | 1 | |
| Rocket | Cost of the mision (in $ millions) | Discret Numerical | - | |
| Status Mission | Status of the mission (Succes of Failed) | Categorical | 0 | |

# 3. Cleaning and Transform Data

In [93]:
#Comprobation of Nulls

df_space.isnull().sum()

Unnamed: 0.1         0
Unnamed: 0           0
Company Name         0
Location             0
Datum                0
Detail               0
Status Rocket        0
 Rocket           3360
Status Mission       0
dtype: int64

In [94]:
df_space[" Rocket"] = df_space[" Rocket"].str.strip()
df_space[" Rocket"] = pd.to_numeric(df_space[" Rocket"], errors="coerce")
df_space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    4324 non-null   int64
 1   Unnamed: 0      4324 non-null   int64
 2   Company Name    4324 non-null   object
 3   Location        4324 non-null   object
 4   Datum           4324 non-null   object
 5   Detail          4324 non-null   object
 6   Status Rocket   4324 non-null   object
 7    Rocket         949 non-null    float64
 8   Status Mission  4324 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 304.2+ KB

Okay. Let's gonna drop that column and the others useless features.

In [95]:
df_space.drop(["Unnamed: 0.1", "Unnamed: 0", " Rocket"], inplace=True, axis=1)
df_space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Name    4324 non-null   object
 1   Location        4324 non-null   object
 2   Datum           4324 non-null   object
 3   Detail          4324 non-null   object
 4   Status Rocket   4324 non-null   object
 5   Status Mission  4324 non-null   object
dtypes: object(6)
memory usage: 202.8+ KB

OKay. Now the NaN leaves, let's watch this Datum.

In [96]:
df_space.Datum.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4324 entries, 0 to 4323
Series name: Datum
Non-Null Count  Dtype
--------------  -----
4324 non-null   object
dtypes: object(1)
memory usage: 33.9+ KB

Mmm. It's an object. Let's gonna change that.

In [97]:
df_space["Dates"] = pd.to_datetime(df_space["Datum"], format = "mixed", utc=True)
df_space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Name    4324 non-null   object
 1   Location        4324 non-null   object
 2   Datum           4324 non-null   object
 3   Detail          4324 non-null   object
 4   Status Rocket   4324 non-null   object
 5   Status Mission  4324 non-null   object
 6   Dates           4324 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(6)
memory usage: 236.6+ KB

In [98]:
df_space.drop("Datum", inplace=True, axis=1)
df_space.reset_index()
df_space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company Name    4324 non-null   object
 1   Location        4324 non-null   object
 2   Detail          4324 non-null   object
 3   Status Rocket   4324 non-null   object
 4   Status Mission  4324 non-null   object
 5   Dates           4324 non-null   datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(5)
memory usage: 202.8+ KB

In [99]:
# Let's take a look to the Location column

df_space["Location"].head()

0           LC-39A, Kennedy Space Center, Florida, USA
1    Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...
2                        Pad A, Boca Chica, Texas, USA
3         Site 200/39, Baikonur Cosmodrome, Kazakhstan
4             SLC-41, Cape Canaveral AFS, Florida, USA
Name: Location, dtype: object

To much information. If it was only the country, better. Let's will change that.

In [100]:
#Extract the Location only in Countrys
df_space["Location"] = df_space["Location"].apply(lambda x: str(x).split(",")[-1].strip())
df_space["Location"].head()

0           USA
1         China
2           USA
3    Kazakhstan
4           USA
Name: Location, dtype: object

Okay. Now we got Dates, Companys and more. Is time to make an analysis.

# 4. Univariant Analysis

### 4.1 Categorical Features

In [101]:
#Number of Companys
number_companys = df_space["Company Name"].nunique()
print("Number of Companys: ", number_companys)

#Number of Locations
number_locations = df_space["Location"].nunique()
print("Number of the Location launch: ", number_locations)

Number of Companys:  56
Number of the Location launch:  22

In [102]:
# A little comprobation

categories = [
    "Company Name",
    "Location",
    "Detail",
    "Status Mission",
    "Status Rocket"
]

df_space[categories].mode().T

                                                  0
Company Name                              RVSN USSR
Location                                     Russia
Detail          Cosmos-3MRB (65MRB) | BOR-5 Shuttle
Status Mission                              Success
Status Rocket                         StatusRetired