Perfect üëç Here‚Äôs your project intro/README in **English**, structured so you can use it both for your **GitHub README.md** and as an **introductory slide deck script**:

---

# üöÄ Exploratory Data Analysis: Space Missions

## üåå Introduction

Space missions represent one of humanity‚Äôs greatest technological and scientific achievements. Analyzing their data allows us to uncover patterns, trends, and factors that have shaped the history of space exploration.

This project performs an **Exploratory Data Analysis (EDA)** using **Python in Jupyter Notebook**, with the goal of answering key questions about space launches across decades.

---

## üéØ Analysis Goals

The EDA aims to generate insights on:

1. **Leading Organizations**

   * Which organization launched the most missions in a given year?

2. **Evolution of Space Activity**

   * How many launches were carried out each year?
   * Do we see growth, stagnation, or decline?

3. **Mission Costs**

   * How have mission costs changed over time?
   * Are there periods of higher investment?

4. **Seasonality of Launches**

   * Which months are the most popular for space launches?
   * Do temporal patterns emerge?

5. **Mission Success and Safety**

   * Have missions become safer over time?
   * Or has the failure rate remained unchanged?

---

## üõ†Ô∏è Tools & Libraries

The analysis will be conducted in **Python**, making use of:

* **Pandas** ‚Üí Data cleaning and manipulation
* **Matplotlib & Seaborn** ‚Üí Static visualizations
* **Plotly** ‚Üí Interactive visualizations
* **NumPy** ‚Üí Numerical operations
* **Jupyter Notebook** ‚Üí Workspace and presentation

---

## üìä Expected Visualizations

Some of the visual outputs include:

* **Bar charts** ‚Üí Launches by organization and by year
* **Time series plots** ‚Üí Evolution of costs and space activity
* **Histograms / heatmaps** ‚Üí Launch distribution by month
* **Pie or donut charts** ‚Üí Success vs. failure over time

---

## ‚úÖ Expected Outcomes

By the end of the analysis we expect to:

* Identify the most influential organizations in the space race.
* Understand the evolution of space launches over time.
* Reveal how mission costs have shifted through the decades.
* Detect seasonal patterns in launch activities.
* Analyze the trends in mission safety and reliability.

---

## üå† Conclusion

This project provides a **clear and visual overview** of the history of space missions, highlighting how space exploration is not only a technological challenge but also a mirror of humanity‚Äôs ambition.

# 1. Import Libraries

In [3]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

# 2. Load the Data

In [4]:
df_space = pd.read_csv("./data/Space_Corrected.csv")

In [5]:
df_space.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4324 entries, 0 to 4323
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0.1    4324 non-null   int64
 1   Unnamed: 0      4324 non-null   int64
 2   Company Name    4324 non-null   object
 3   Location        4324 non-null   object
 4   Datum           4324 non-null   object
 5   Detail          4324 non-null   object
 6   Status Rocket   4324 non-null   object
 7    Rocket         964 non-null    object
 8   Status Mission  4324 non-null   object
dtypes: int64(2), object(7)
memory usage: 304.2+ KB

In [6]:
df_space.head(10)

,Unnamed: 0.1,Unnamed: 0,Company Name,Location,Datum,Detail,Status Rocket,Rocket,Status Mission
0,0,0,SpaceX,"LC-39A, Kennedy Space Center, Florida, USA","Fri Aug 07, 2020 05:12 UTC",Falcon 9 Block 5 | Starlink V1 L9 & BlackSky,StatusActive,50.0,Success
1,1,1,CASC,"Site 9401 (SLS-2), Jiuquan Satellite Launch Ce...","Thu Aug 06, 2020 04:01 UTC",Long March 2D | Gaofen-9 04 & Q-SAT,StatusActive,29.75,Success
2,2,2,SpaceX,"Pad A, Boca Chica, Texas, USA","Tue Aug 04, 2020 23:57 UTC",Starship Prototype | 150 Meter Hop,StatusActive,NaN,Success
3,3,3,Roscosmos,"Site 200/39, Baikonur Cosmodrome, Kazakhstan","Thu Jul 30, 2020 21:25 UTC",Proton-M/Briz-M | Ekspress-80 & Ekspress-103,StatusActive,65.0,Success
4,4,4,ULA,"SLC-41, Cape Canaveral AFS, Florida, USA","Thu Jul 30, 2020 11:50 UTC",Atlas V 541 | Perseverance,StatusActive,145.0,Success
5,5,5,CASC,"LC-9, Taiyuan Satellite Launch Center, China","Sat Jul 25, 2020 03:13 UTC","Long March 4B | Ziyuan-3 03, Apocalypse-10 & N...",StatusActive,64.68,Success
6,6,6,Roscosmos,"Site 31/6, Baikonur Cosmodrome, Kazakhstan","Thu Jul 23, 2020 14:26 UTC",Soyuz 2.1a | Progress MS-15,StatusActive,48.5,Success
7,7,7,CASC,"LC-101, Wenchang Satellite Launch Center, China","Thu Jul 23, 2020 04:41 UTC",Long March 5 | Tianwen-1,StatusActive,NaN,Success
8,8,8,SpaceX,"SLC-40, Cape Canaveral AFS, Florida, USA","Mon Jul 20, 2020 21:30 UTC",Falcon 9 Block 5 | ANASIS-II,StatusActive,50.0,Success
9,9,9,JAXA,"LA-Y1, Tanegashima Space Center, Japan","Sun Jul 19, 2020 21:58 UTC",H-IIA 202 | Hope Mars Mission,StatusActive,90.0,Success